
/*Navbar*/
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    background: #55392c; 
    position: relative;
  }
  
.logo a {
    color: #d4c0ac;
}

.logo a :hover{
    color: #fff;
}
  .navbar .logo {
    float: left;
    height: 64px;
    padding: 0 24px;
    line-height: 64px;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Cursive', Arial, sans-serif; 
    
  }
  
  .navbar .ant-menu {
    line-height: 64px;
    border-bottom: none;
    background-color: #55392c;
  }
  
  .navbar .ant-menu-item {
    color: white; 
  }
  
  .navbar .ant-menu-item:hover {
    color: #d4c0ac; 
  }
  
  .menu-button {
    display: none;
  }
  
  @media (max-width: 768px) {
    .navbar .logo {
      font-size: 20px; 
    }
  
    .navbar .ant-menu {
      display: none; 
    }
  
    .menu-button {
      display: block; 
      float: right;
      margin: 16px; 
    }
  
    .ant-menu-mobile {
      display: block; 
    }
  }
  
/*Footer*/
.footer {
    background: #55392c; 
    color: #d4c0ac; 
    padding: 24px 0;
    text-align: center;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
  }
  
  .footer a {
    color: #d4c0ac;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    .footer-content {
      padding: 0 16px;
    }
  
    .footer a {
      display: block;
      margin: 10px 0;
    }
  }

 /*Button*/ 
  .custom-button {
    border-radius: 4px; 
    font-weight: bold;  
    transition: all 0.3s ease; 
  }
  
  .custom-button.small {
    padding: 4px 8px;
    font-size: 12px;
  }
  
  .custom-button.medium {
    padding: 8px 16px;
    font-size: 14px;
  }
  
  .custom-button.large {
    padding: 12px 24px;
    font-size: 16px;
  }
  
  .custom-button.primary {
    background-color: #55392c; 
    color: #d4c0ac; 
    border: none; 
  }
  
  .custom-button.primary:hover {
    background-color: #d4c0ac; 
    color: #55392c; 
    border: 1px solid #55392c; 
  }
  
  .custom-button.secondary {
    background-color: #d4c0ac; 
    color: #55392c; 
    border: none; 
  }
  
  .custom-button.secondary:hover {
    background-color: #55392c; 
    color: #d4c0ac; 
    border: 1px solid #d4c0ac; 
  }
  
  /*Hero-Section*/
  .hero-section {
    width: 100%;
    background-color: #fff; 
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px; 
    width: 100%;
  }
  
  .hero-text {
    flex: 1;
    color: #55392c;
    text-align: left;
    padding-right: 20px; 
  }
  
  .hero-slogan {
    font-size: 3rem; 
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .hero-subheader {
    font-size: 1.5rem; 
    margin-bottom: 30px;
  }
  
  .hero-image {
    background-image: url('/images/heroimg2.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 45%;
    height: 300px; 
    border-radius: 10px;
    background-color: lightgray; 
  }
  
  
  @media (max-width: 768px) {
    .hero-content {
      flex-direction: column; 
      text-align: center;
    }
  
    .hero-text {
      padding-right: 0;
      padding-bottom: 20px; 
    }
  
    .hero-image {
      max-width: 100%; 
      height: auto; 
    }
  }

/*card*/
  .custom-card {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .custom-card img {
    object-fit: cover;
    height: 200px;
  }
  
  .custom-card-content {
    margin-top: 16px; 
  }

/*contact*/
.contact-form-container {
    background-color: #fff;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .contact-form h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .contact-form .ant-form-item {
    margin-bottom: 16px;
  }
  
  .contact-form .ant-form-item-label > label {
    font-weight: bold;
  }
  
  .contact-form .ant-btn-primary {
    width: 100%;
    background-color: #55392c;
  }
  
  .contact-form .ant-btn-primary a:hover {
    background-color: #d4c0ac;
  }
  